/* You can add global styles to this file, and also import other style files */
img{
  width: 30rem;
}

.row{
  background-color: rgb(211, 173, 76);
}
.carello
{
  background-color: rgb(255, 98, 0);
}
